    <!-- START event Modal -->
  <div class="modal fade" id="eventModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Events</h4>
        </div>
        <div class="modal-body">
          <br> <p class="label label-warning">Calendar grid view option?</p>
          <br> <p class="label label-warning">Separate list by year?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <!-- end modal content -->
      </div>
    </div>
  </div>
  <!-- END event Modal-->