<h1>RailsBridgeCorp Open Jobs - no authorize</h1>
<table class=ex1>
	<th></th>
	<th align=left>Posting</th>
	<th align=left>Description</th>
<% @foos.each do |job| %>
  <tr>
  	<td width="10%"></td>
  	<td width="45%"><%= job.title %></td>
  	<td width="45%"><%= job.description %></td>
  </tr>
<% end %>
</table>
