<h1>Edit Pack Item</h1>
<% if current_user.id == 0 then %>
	<span class="label label-warning">Make this into a better-formatted gear card, like a baseball card with stats, etc - at least for the 'show' view (which doesn't yet exist).</span>
<% end %>

<%= render "form" %>
