// Place all the styles related to the gears controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    border-collapse: separate;
    width: 100%;
    border: 1px solid black;
} 

td {border: 1px solid black;}

a.basic         {color:black;}
a.basic:link    {text-decoration: none;color:black;}
a.basic:visited {text-decoration: none;color:black;}
a.basic:hover   {text-decoration: underline;color:blue;}
a.basic:active  {text-decoration: underline;color:red;}

a.xdel          {color:red;} 
a.xdel:link     {text-decoration: none;}
a.xdel:visited  {text-decoration: none;color:red;}
a.xdel:hover    {text-decoration: underline;color:red;}
a.xdel:active   {text-decoration: underline;color:red;}




