    <!-- START event Modal -->
  <div class="modal fade" id="gearModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Gear Inventory</h4>
        </div>
        <div class="modal-body">
          <br> <p class="label label-warning">gear wishlist - shopping / gear ingestion touchpoint?</p>
          <br> <p class="label label-warning">sort/filter by category (as on POC) or by column?</p>
          <br> <p class="label label-warning">Gear import module (flat file first)</p>
          <br> <p class="label label-warning">gear import from other system (REI, Backcountry, Amazon, Google?) - need standard format, or just compatibility?</p>
          <br> <p class="label label-warning">inventory export? look at REDCap for approach and usability</p>
          <br> <p class="label label-warning">search for existing gear items?</p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      <!-- end modal content -->
      </div>
    </div>
  </div>
  <!-- END event Modal-->